.loading_workers_list {
  margin-top: 22px;
}

.wrapper {
  display: flex;
  margin-bottom: 24px;
}

.image {
  width: 72px;
  height: 72px;
  background: linear-gradient(90deg, #F3F3F6 0%, #FAFAFA 100%);
  border-radius: 50px;
}

.info_user {
  margin: 16px 16px;
}

.name {
  width: 144px;
  height: 16px;
  background: linear-gradient(90deg, #F3F3F6 0%, #FAFAFA 100%);
  border-radius: 50px;
}

.department {
  margin: 8px 0px;
  width: 80px;
  height: 12px;
  background: linear-gradient(90deg, #F3F3F6 0%, #FAFAFA 100%);
  border-radius: 50px;
}